{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{% static 'base/css/home.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'base/css/profile.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'base/css/article.css' %}">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
		<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
		<title>Home</title>
	</head>
	<body>
		<header>
			<div class = "banner">
				<div class = "logo-pic">
					<img height="85" src="{% static 'base/images/back.png' %}">
				</div>
			
				<div class = "profile-pic">
					<a href="{% url 'home-page' %}">Home</a>
				</div>
			</div>
		</header>
		<main>
			<div class = "article-object">
				<div class = "top-section-article">
					<h3>Title of this post is good</h3>
					<h5>12.02.2024</h5>
				</div>
				<div class = "center-section">
					<img draggable="false" src="{% static 'base/images/download.jpeg' %}">
				</div>
				<div class = "bottom-section">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>
				</div>
				<div class = "buttons-div">
					<button id = "del-btn">Delete</button>
					<button id = "edit-btn">Edit</button>
				</div>
			</div>

			<div class = "article-object">
				<div class = "top-section-article">
					<h3>Title of this post is good</h3>
					<h5>12.02.2024</h5>
				</div>
				<div class = "center-section">
					<img draggable="false" src="{% static 'base/images/download.jpeg' %}">
				</div>
				<div class = "bottom-section">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>
				</div>
				<div class = "buttons-div">
					<button id = "del-btn">Delete</button>
					<button id = "edit-btn">Edit</button>
				</div>
			</div>
		</main>
	</body>
	<script src="https://kit.fontawesome.com/8383e75d7d.js" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{% static 'base/js/article.js' %}"></script>
</html>