{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
		<title>Home</title>
	</head>
	<body>
		<header>
			<div class = "banner">
				{% if user.is_staff %}
					<div class = "menu-btn">
						<i class="fa-solid fa-bars"></i>
					</div>
				{% else %}
					<div class = "menu-btn" style="display:none">
						<i class="fa-solid fa-bars"></i>
					</div>
				{% endif %}
				<div class = "logo-pic">
					<img height="85" src="{% static 'images/back.png' %}">
				</div>
				{% if not user.is_staff %}
					<a href="{% url 'profile-page' %}">
						<div class = "profile-pic">
							<img src="{{ user.student.image.url }}">
						</div>
					</a>
				{% else %}
					<a href="{% url 'profile-page' %}">
						<div class = "profile-pic">
							<img src="{% static 'user.png' %}">
						</div>
					</a>
				{% endif %}
					
				</div>
				{% if user.is_staff %}
					<div class="menu-slide">
						<div class = "links-part">
							<div class = "set-table-on">Adaugă temă</div>
							<div class = "add-student-btn"><a href="{% url 'article-page' %}">Rapoarte|Reușite</a></div>
							<div id = "add-std-btn" class="add-student-btn">Adaugă Elev</div>
							<div id = "remove-std-btn" class="add-student-btn">Elimină Elev</div>
							<div id = "add-report" class="add-student-btn">Adaugă Raport</div>
							<div id = "logout" class="add-student-btn"><a href="{% url 'logout-page' %}">Ieși</a></div>
							<form method="POST" action=".">
								{% csrf_token %}
								<div class = "options-form">
									<input id = "number-inp-class" type="number" name="number-class-students" min="1" max="12" placeholder="clasa">
									<input id = "text-inp-month" type="text" name="number-month-students" placeholder="luna">
									<div class = "submit-month-class">
										<button type="submit">Caută Clasa</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				{% else %}
					<div class="menu-slide" style="display:none">
						<div class = "links-part">
							<div class = "set-table-on">Adaugă temă</div>
							<div class = "add-student-btn"><a href="{% url 'article-page' %}">Rapoarte|Reușite</a></div>
							<div id = "add-std-btn" class="add-student-btn">Adaugă elev</div>
							<div id = "remove-std-btn" class="add-student-btn">Elimină elev</div>
							<div id = "add-report" class="add-student-btn">Adaugă raport</div>
							<div id = "logout" class="add-student-btn"><a href="{% url 'logout-page' %}">Ieși</a></div>
							<form method="POST" action=".">
								{% csrf_token %}
								<div class = "options-form">
									<input id = "number-inp-class" type="number" name="number-class-students" min="1" max="12" placeholder="class">
									<input id = "text-inp-month" type="text" name="number-month-students" placeholder="month">
									<div class = "submit-month-class">
										<button type="submit">Caută clasa</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				{% endif %}
			</header>
			<main>
				<div class = "settings-table">
					<div class = "close-btn">
						<i class="fa-regular fa-circle-xmark"></i>
					</div>
					<h3 class = "add-hm-cls">Adaugă temă</h3>
					<form id = "add-home-form" method="POST" enctype="multipart/form-data">
						{% csrf_token %}
						<div class = "options-homework">
							<div class = "home-inputs">
								<label for = "subject">Subiect:</label>
								<input type="text" id = "subject" class = "homework-inp" name = "title-of-homework">
								<label style = "margin-top:10px" for="homework-desc">Descriere</label>
								<textarea id = "homework-desc" name="description-of-homework"></textarea>
								<label style = "margin-top:10px" for="home-file-inp">Alege fișiere</label>
								<input multiple id = "home-file-inp" type="file" name="file-input-homework">
							</div>
							<select class = "home-class" name="class-option-name-home">
								<option selected hidden>Clasa</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
							</select>
						</div>
						
						<div class="btns-div-add-std">
							<button type="submit" id = "add-homework-btn-submit" class = "submit-btn-add-std">Submit</button>
						</div>
					</form>
				</div>
				<div class = "mark-panel">
					<div class = "close-btn2">
						<i class="fa-regular fa-circle-xmark"></i>
					</div>
					<h3 class = "choose-mark">Alege nota</h3>
					<div class = "mark-options">
						<div>
							<input type="radio" name="radio" id = "mark1" value = "1">
							<label for = "mark1">1</label>
						</div>
						<div>
							<input type="radio" name="radio" id = "mark2" value = "2">
							<label for = "mark2">2</label>
						</div>
						<div>
							<input type="radio" name="radio" id = "mark3" value = "3">
							<label for = "mark3">3</label>
						</div>
						<div>
							<input type="radio" name="radio" id = "mark4" value = "4">
							<label for = "mark4">4</label>
						</div>
						<div>
							<input type="radio" name="radio" id = "mark5" value = "5">
							<label for = "mark5">5</label>
						</div>
						<div>
							<input type="radio" name="radio" id = "mark6" value = "6">
							<label for = "mark6">6</label>
						</div>
						<div>
							<input type="radio" name="radio" id = "mark7" value = "7">
							<label for = "mark7">7</label>
						</div>
						<div>
							<input type="radio" name="radio" id = "mark8" value = "8">
							<label for = "mark8">8</label>
						</div>
						<div>
							<input type="radio" name="radio" id = "mark9" value = "9">
							<label for = "mark9">9</label>
						</div>
						<div>
							<input type="radio" name="radio" id = "mark10" value = "10">
							<label for = "mark10">10</label>
						</div>
						<br>
						<div>
							<input type="radio" name="radio" id = "not" checked value = "0">
							<label for = "not">Absent</label>
						</div>
						<br>
						<div>
							<input type="radio" name="radio" id = "del" value = "99999">
							<label for = "not">Șterge nota</label>
						</div>
					</div>
					<div class="btns-div-add-std">
						<button id = "submit-mark-to-std" class = "submit-btn-add-std">Submit</button>
					</div>
				</div>
				<div id = "add-student" class = "mark-panel">
					<div class = "close-btn3">
						<i class="fa-regular fa-circle-xmark"></i>
					</div>
					<h3 class = "choose-mark">Adaugă Elev</h3>
					
					<div class = "inputs-div">
						<div class = "inp-student-div">
							<label for = "student-id-inp">ID-ul elevului</label>
							<br>
							<input id = "student-id-inp" type="text" name="student-id-add-to-class">
						</div>
						<h3 class = "h3-to-student">Clasa</h3>
						<div class = "mark-options">
							<div>
								<input type="radio" name="radio1" id = "mark1" value = "1">
								<label for = "mark1">1</label>
							</div>
							<div>
								<input type="radio" name="radio1" id = "mark2" value = "2">
								<label for = "mark2">2</label>
							</div>
							<div>
								<input type="radio" name="radio1" id = "mark3" value = "3">
								<label for = "mark3">3</label>
							</div>
							<div>
								<input type="radio" name="radio1" id = "mark4" value = "4">
								<label for = "mark4">4</label>
							</div>
							<div>
								<input type="radio" name="radio1" id = "mark5" value = "5">
								<label for = "mark5">5</label>
							</div>
							<div>
								<input type="radio" name="radio1" id = "mark6" value = "6">
								<label for = "mark6">6</label>
							</div>
							<div>
								<input type="radio" name="radio1" id = "mark7" value = "7">
								<label for = "mark7">7</label>
							</div>
							<div>
								<input type="radio" name="radio1" id = "mark8" value = "8">
								<label for = "mark8">8</label>
							</div>
							<div>
								<input type="radio" name="radio1" id = "mark9" value = "9">
								<label for = "mark9">9</label>
							</div>
							<div>
								<input type="radio" name="radio1" id = "mark10" value = "10">
								<label for = "mark10">10</label>
							</div>
							<div>
								<input type="radio" name="radio1" id = "mark10" value = "11">
								<label for = "mark10">11</label>
							</div>
							<div>
								<input type="radio" name="radio1" id = "mark10" value = "12">
								<label for = "mark10">12</label>
							</div>
						</div>
						<div class="btns-div-add-std">
							<button name = "add-student-btn-class" class = "submit-btn-add-std">Submit</button>
						</div>
					</div>
				</div>
				<div id = "remove-student" class = "mark-panel">
					<div class = "close-btn4">
						<i class="fa-regular fa-circle-xmark"></i>
					</div>
					<h3 class = "choose-mark">Elimină elev</h3>
					
					<div class = "inputs-div">
						<div class = "inp-student-div">
							<label for = "student-id-inp">ID-ul elevului</label>
							<br>
							<input id = "student-id-inp" type="text" name="student-id-remove">
						</div>
						
						<div class="btns-div-add-std">
							<button name = "remove-student-from-classroom" class = "submit-btn-add-std">Submit</button>
						</div>
					</div>
				</div>
				<div id = "report-add-table" class = "mark-panel">
					<div class = "close-btn5">
						<i class="fa-regular fa-circle-xmark"></i>
					</div>
					<h3 class = "h3-report">Adaugă raport</h3>
					<div class = "inputs-div-report">
						<div>
							<label for="title-of-post"><b>Titlul raportului</b></label>
							<input id = "title-of-post" class = "input-box-rep" type="text" name="">
						</div>
						<div>
							<label for="text-desc-rep"><b>Descrierea raportului</b></label>
							<textarea id = "text-desc-rep" class = "text-description-report input-box-rep"></textarea>
						</div>
						<div>
							<input type="file" id = "report-file-input" accept="image/png, image/gif, image/jpeg">
						</div>
					</div>
					<div class = "btns-div-add-std">
						<button id = "add-report-btn-submit" class = "submit-btn-add-std">Submit</button>
					</div>
				</div>
				{% if user.is_staff %}
					<div class = "main-div-register">
						<div class = "register-object">
							<div class = "name-of-object" id = "month-marks-obj">{{ month }}</div>
							{% for number in range %}
								<div class = "mark-of-object"><p>{{ number }}</p></div>
							{% endfor %}
						</div>
						{% for student, num in students %}
							<div class = "register-object" name = "mark-square">
								<div class = "name-of-object">{{ student.name }}</div>
								{% for number in range %}
									<div name="mark-object-std" title = "{{ student.student_id }}" class = "mark-of-object {{ number }}" id = "{{ num }}" value = "{{ number }}"><p></p></div>
								{% endfor %}
							</div>
						{% endfor %}
					</div>
					<script type="text/javascript">
						var student_marks = JSON.parse("{{marks|escapejs}}");
						current_month = document.getElementById("month-marks-obj").innerHTML
						console.log(student_marks)
						for (mark of student_marks){
							let markRow = document.querySelectorAll(`[title="${mark[4]}"]`);
							for (col of markRow){
								if (col.classList.contains(mark[0]) && mark[1] == current_month){
									if (mark[2] == true)
										col.innerHTML = `<p>${mark[3]}</p>`;
									else
										col.innerHTML = `<p>Ab</p>`;
								}
							}
						}
						
					</script>
				{% else %}
					<div class = "main-div-register" style = "display: none;">
						<div class = "register-object" style = "display: none;">
							<div class = "name-of-object" id = "month-marks-obj">{{ month }}</div>
							{% for number in range %}
								<div class = "mark-of-object"><p>{{ number }}</p></div>
							{% endfor %}
						</div>
						{% for student, num in students %}
							<div class = "register-object" name = "mark-square">
								<div class = "name-of-object">{{ student.name }}</div>
								{% for number in range %}
									<div name="mark-object-std" title = "{{ student.student_id }}" class = "mark-of-object {{ number }}" id = "{{ num }}" value = "{{ number }}"><p></p></div>
								{% endfor %}
							</div>
						{% endfor %}
					</div>
					
					
					<div class="homework-for-students">
						{% for homework in homeworks %}
							
							<div class = "homework-obj">
								<form method="POST" enctype="multipart/form-data" class="{{ homework.pk }}" id = "form-submit-homework" value = "{{ homework.pk }}">
									{% csrf_token %}
									{% if user.student in homework.students_that_send.all %}
										<h3 style="margin-left:10px;color: green;">Realizat</h3>
									{% endif %}
									<div class = "home-title">
										<h3>{{ homework.title }}</h3>
									</div>
									<div class = "home-content">
										<p>{{ homework.description }}</p>
									</div>
									<br>
									<div class = "home-content file-content">
										<h3>Materiale</h3>
										{% for file in homework.homework_files.all %}
											<a href="{{ file.files.url }}">Temă pentru acasă</a>
										{% endfor %}
									</div>
									<div class = "upload-home">
										<label for = "upload-id-hmwork">Încarcă tema:</label>
										<input multiple type="file" id = "upload-id-hmwork" name = "{{ homework.pk }}-file-for-homework">
									</div>
									<div class = "button-home">
										<button type="submit">Submit</button>
									</div>
								</form>
							</div>
						{% endfor %}
					</div>
				{% endif %}
				
			</div>
			
		</main>
	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://kit.fontawesome.com/8383e75d7d.js" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{% static 'js/home.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/django-js/home.js' %}"></script>
</html>