main{
	width: 700px;
	border: none;
	display: flex;
	flex-direction: column;
	gap:70px;
	align-content: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

.article-object{
	width: 100%;
	height: auto;
	background-color: #ebebeb;
	border: 1px solid black;
	border-radius: 5px;
	position: relative;
	display: flex;
	flex-direction: column;
	gap:20px;
}

.top-section-article{
	width: 92%;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	display: flex;
	flex-direction: row;
	position: relative;
}


.top-section-article h5{
	position: absolute;
	right: 10px;
	margin: 0px;
}


.top-section-article h3{
	position: absolute;
	left: 10px;
	margin: 0px;
}

.center-section{
	align-items: center;
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.center-section img{
	width: 92%;
	max-height: 700px;
}	

.bottom-section{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 50px;
}

.bottom-section p{
	width: 92%;
	font-weight: bold;
}

.buttons-div{
	width: 270px;
	height: 50px;
	position: absolute;
	bottom: 0px;
	right: 0px;
}

.buttons-div button{
	width: 120px;
	height: 40px;
	font-size: 30px;
	font-weight: bold;
	border-radius: 5px;
	outline: 0px;
	border: none;
	background-color: white;
	cursor: pointer;
}

#del-btn{
	color: #eb4034;
	border: 3px solid #eb4034;
}

#edit-btn{
	color: #29a2d6;
	border: 3px solid  #29a2d6;
}

@media all and (max-width:700px){
	main{
		width: 100%;
	}
}

@media all and (max-width:480px){
	.top-section-article h5{
		display: none;
	}
}